body{
    display: grid;
    grid-template-rows: 2fr 5fr 4fr 1fr;
    background-color: #000000;
    height: 98vh;
    p, h1, h2{
        color: white;
    }   
}

header{
    display: flex;
    grid-row: 1;
    align-items: center;
}

main{
    grid-row: 3;
    display: grid;
    grid-template-rows: 2fr 4fr;
    
    h1{
        grid-row: 1;
    }
    .tekst{
        grid-row: 2;
    }
}
        
nav{
    display: flex;
    justify-content: center;
    grid-row: 4;
}

a{
    display: flex;
    text-decoration: none;
    color: white;
    background-color: black;
    width: 107px;
    height: 50px;
    border-radius: 37.5px;
    border: solid white 1px;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    position: absolute;
    width: 100%;
    height: 65%;
    bottom: 0;
    right: 0;
}




