body{
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 5fr;
    background-color: rgb(255, 89, 0);
    height: 98vh;
}
header{
    text-align: center;
    h1{
        color: white;
        font-size: 2em;
    }
}
#email{
    max-width: 250px;
    height: 50px;
}

#password{
    max-width: 250px;
    height: 50px;
}

#date{
    max-width: 250px;
    height: 50px;
}